body{
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 40px;
}
.name{
    color: orange;
}
section{
    display: flex;
}
img{
    height: 500px;
    width: 500px;
}
.git-link{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;

}