body{
    font-family: 'Merriweather', serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.name{
    color: orange;
}
.none-flex{
    display: flex;
}
.first-heder{
    margin: 10px 100px;
}
img{
    height: 500px;
    width: 500px;
}
.git-link{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;

}
.section1{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.section2{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.section3{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 272px;
}
.exprens{
    width: 40%;
    box-shadow: 10px 10px 40px green;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}
#as{
    border-left: 10px solid blue;
    border-right: 10px solid rgb(0, 255, 42);
    border-top: 10px solid rgb(255, 166, 0);
    border-bottom: 10px solid rgb(255, 0, 43);
}
#df{
    border-left: 10px solid orangered;
    border-right: 10px solid rgb(30, 255, 0);
    border-top: 10px solid rgb(17, 0, 255);
    border-bottom: 10px solid rgb(255, 0, 13);
}
footer{
    text-align: center;
}