body{
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 40px;
}
.name{
    color: orange;
}
.first-heder{
    height: auto;
    width: 50%;
    position: relative;
}
.second-heder{
    width: 40%;
    height: auto;
    float: right;
    position: absolute;
    top: 0%;
    right: 0%;
}
img{
    height: 500px;
    width: 500px;
}
.git-link{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;

}