body{
    font-family: 'Merriweather', serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.name{
    color: orange;
}
section{
    display: flex;
}
.first-heder{
    margin: 10px 60px;
}
img{
    height: 500px;
    width: 500px;
}
.git-link{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 10px;

}
.section1{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}